*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Calibri, 'sans serif';
}
body{
    width: 100%;
}
secion{
    width: 50%;
}
header{
    gap: 60px;
    background-color: rgb(230, 230, 230);
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}
.topH{
    margin: 10px;
    max-width: 30%;
    gap: 10px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    img{
        width: 30%;
        padding-right: 10px;
        border-right: 5px solid rgb(211, 211, 211);
    }

    p{
        font-size: 0.6rem;
    }
}
.midH{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    display: flex;
    flex-flow: row nowrap;

    #imgUm{
        width: 250px;

    }
    #imgDois{
        width: 70px;
        margin-left: -40px;
        margin-top: 110px;
    }
}
.free-guide{




    span{
        color: rgb(108, 92, 255);
        font-weight: 700;
        font-size: 1.4rem;
    }
}